$neutral-5: #20172b;
$neutral-4: #544158;
$neutral-3: #807283;
$neutral-2: #e7c488;
$neutral-1: #f0f2ca;

$berry-jam-1: #f7b1f1;
$berry-jam-2: #e75fa8;
$berry-jam-3: #db2964;
$berry-jam-4: #982536;
$berry-jam-5: #481a19;

$light-blue-1: #e7f4e7;
$light-blue-2: #c8e4e9;
$light-blue-3: #a8cde6;
$light-blue-4: #7d98bf;
$light-blue-5: #67659a;

$green-1: #a5eea7;
$green-2: #5bdc70;
$green-3: #30ab57;
$green-4: #257450;
$green-5: #1b4b4a;

$smartphone: 320px;
